<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>register</title>
</head>
<body>
    <div class="container">
        <h2>login</h2>
        <form action="/auth/login" method="POST">
            <label for="username">username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">login</button>
        </form>
        <p>don't have an account? <a href="/aunt/register">register here</a></p>
    </div>
</body>
</html>